body {
    /* background-color: white; */
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    /* Extra 1*/
    background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

body a {
    color: #A4A400;
}


/* The question says all headings, so I wrote all */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    /* Extra 5 */
    width: fit-content;
    text-align: left;
    /*Extra 4*/
    letter-spacing: 0.25em;
}


/* Ids prefixed with # */

#mainHeading {
    /* To align to center, I used margin */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 22pt bold;
}

#upperCaseHeading {
    text-transform: uppercase;
}


/* Extra 3 */

ul {
    list-style-image: url('../images/pie_icon.gif');
}


/* only immediate span after li will get bold */

ol>li>span {
    font-weight: bold;
}


/* It is an id, so prefixed with a . */

#quotes {
    background-color: #FFFFA8;
    font-style: italic;
}


/*Last letter is aligned right */

.copyright {
    font-family: monospace;
    text-align-last: right;
}